body {
    font-family: monospace;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    scrollbar-width: none;
}

#wrapper {
    padding: 10px;
    height: calc(100% - 40px);
    /* Adjusted for input line */
    
}

#terminal {
    width: 100%;
}

#input-line {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

#prompt {
    color: green;
    margin-right: 5px;
}

#input {
    flex: 1;
    background-color: transparent;
    border: none;
    color: white;
    caret-color: white;
    outline: none;
}


.textbox {
    border: 1px dashed white;
    padding: 10px;
    margin: 5px;
    display: block;
    width: calc(100% - 30px);
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.column {
    
    padding: 5px 0px;
}

/* responsive column layout, 4 column in desktop and 2 column in mobile */
@media (min-width: 768px) {
    .column {
        width: 25%;
        
    }
}

@media (max-width: 767px) {
    .column {
        width: 50%;
    }
}

/* table with border dashed */

.table {
    margin-top: 5px;
    margin-bottom: 5px;
    border-collapse: collapse;
    width: 100%;
    border: 1px dashed white;
}

.table th, .table td {
    border: 1px dashed white;
    padding: 10px;
    text-align: left;
}
