<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mabox CLI</title>

    <link rel="stylesheet" href="./assets/mabox.css?v=3">
    
</head>

<body>
    <div id="host" style="display: none;">{{data['host'] or 'host.com'}}</div>
    {% if data != None %}
        <div id="links" style="display: none;">{{data['links']|tojson }}</div>
        <div id="forms" style="display: none;">{{data['forms']|tojson }}</div>
    {% else %}
        <div id="links" style="display: none;"></div>
    {% endif %}
    <div id="wrapper">
        <div id="terminal">
            {% if data != None %}
                <center>
                    <pre>{{ data['titleArt']|safe }}</pre>
                </center>
                <div class="textbox">
                    {{ data['text'].replace('\n', '<br>')|safe }}
                </div>
                {% if data['links']|length > 0 %}
                    <p>Link : </p>
                    <span>Use command open [link number] </span>
                    <div class="row">
                        {% for link in data['links'] %}
                            <div class="column">{{loop.index0+1}} - {{ link['text'] }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% elif error != None %}
                <span style="color: red;">{{ error }}</span>
            {% endif %}
            
            
        </div>
        <div id="input-line">
            <span id="prompt">mabox_cli@<span>{{data['host'] or 'host.com'}}</span>:</span> <input id="input" type="text" autocomplete="off"   autofocus>
        </div>
    </div>
    <script src="./assets/mabox.js?v=4"></script>
</body>

</html>